services:
    resolver:
        build:
            context: ..
        image: oqs-bind
        tty: true
        entrypoint:
            - /init.bash 
        volumes:
            - ./init.bash:/init.bash
            - ../docker scripts/run_bind.bash:/run_bind.bash
            - ../docker scripts/set_udp_fragmentation.bash:/set_udp_fragmentation.bash
            - ../docker scripts/update_bind.bash:/update_bind.bash
            - ./named.conf:/named.conf
            - ./${DB}:/root.hints
            - ./data:/tmp/
            - ./dsset-.:/dsset-.
        ports:
            - "53:53/tcp"
            - "53:53/udp"
        cap_add:
            - NET_ADMIN
        networks:
            bind9_net:
                ipv4_address: 172.20.0.5

networks:
    bind9_net:
        external: true